numpy
scipy
matplotlib
scikit-learn
numba
pyfftw
h5py
pandas
soundfile
tqdm
ipykernel
jupyter
pywavelets
pyyaml
opencv-python
librosa
einops
wandb
rich
openai-whisper
ffmpeg-python
faster-whisper


# PyTorch (CPU-only or generic)
# torch
# torchvision
# torchaudio

torch==2.3.0+cu121
torchvision==0.18.0+cu121
torchaudio==2.3.0+cu121
--extra-index-url https://download.pytorch.org/whl/cu121